extends template

block content
    <!-- Navbar -->
    nav(class='navbar navbar-toggleable-md navbar-inverse success' id='navbar' style="padding: 15px")
        a(class='navbar-left' href='/')
            img(src= 'SampleLogo.PNG' width='75' height=''  alt='')
        a(style="padding: 1px 15px; line-height: 60px" class='title' href='/') TruckIt!

        <!-- Trigger the modal with a button -->
        button(id="login" type="button" class="button btn btn-lg pull-right navbar-btn" data-toggle="modal" data-target="#login-modal") Login
        button(id="register" type="button" class="button btn btn-lg pull-right navbar-btn" data-toggle="modal" data-target="#register-modal") Register

    div(class="container")
      <!-- Modal TODO someone has to clean up this clusterfuck of a modal-->
      div(id="register-modal" class="modal fade" aria-hidden='true')
          div(class="modal-content")
              div(class="modal-header")
                  button(type="button" class="close" data-dismiss="modal") <span aria-hidden="true"></span>x<span class="sr-only"></span>
                  h2(class="modal-title" id="myModalLabel") Register just once and you're set!
              div(class="modal-body")
                  div(class="row")
                          div(class="well")
                              #js-error-message.error-message
                              form(id="registerForm")
                                  div(class="form")
                                      label(for="firstName" class="control-label") First Name*
                                      input(type="text" class="form-control" missingError="firstNameError" id="firstName" name="firstName" value="" required="" title="Please enter your first name" placeholder="David")
                                      <span id="firstNameError" class="help-block hidden">You forgot to fill in your first name</span>
                                  div(class="form")
                                      label(for="lastName" class="control-label") Last Name
                                      input(type="text" class="form-control" id="lastName" name="lastName" value="" title="Please enter your last name" placeholder="Malan")
                                      span(class="help-block")
                                  div(class="form")
                                      label(for="email" class="control-label") Email*
                                      input(type="text" class="form-control" missingError="emailError" invalidError="emailError2" formattingError="emailError2" id="email" name="email" value="" required="" title="Please enter you email" placeholder="cs50IsTakingOver@gmail.com")
                                      <span id="emailError" class="help-block hidden">You forgot your email</span><span id="emailError2" class="help-block hidden">Your email isn't properly formatted</span>
                                  div(class="form")
                                      label(for="password" class="control-label") Password*
                                      input(type="password" class="form-control" missingError="passwordError" id="password" name="password" value="" required="" title="Please enter your password")
                                      <span id="passwordError" class="help-block hidden">You forgot your password</span>
                                  div(class="form")
                                      label(for="repassword" class="control-label") Re-enter Password*
                                      input(type="password" class="form-control" missingError="repasswordError" id="repassword" name="repassword" value="" required="" title="Please re-enter your password")
                                      <span id="repasswordError" class="help-block hidden">You forgot to retype your password</span><span id="passwordMatchError" class="help-block hidden">Your passwords don't match</span>
                                  div(class="form")
                                      label(for="phone" class="control-label") Phone Number*
                                      input(type="text" class="form-control" missingError="phoneError" id="phone" name="phone" value="" required="" title="Please enter your phone number" placeholder="Please enter only digits")
                                      <span id="phoneError" class="help-block hidden">You forgot your phone number</span>
                                  div(class="form")
                                      label(for="phoneProvider" class="control-label") Your Phone Provider*
                                      input(type="text" class="form-control" missingError="phoneProviderError" id="phoneProvider" name="phoneProvider" value="" required="" title="Please enter your Phone Provider")
                                      <span id="phoneProviderError" class="help-block hidden">You forgot to add your Phone Provider</span>
                                  div(class="form")
                                      label(for="venmo" class="control-label") Your Venmo name*
                                      input(type="text" class="form-control" missingError="venmoError" id="venmo" name="venmo" value="" required="" title="Please enter your Phone Provider" placeholder="@david_j_malan")
                                      <span id="venmoError" class="help-block hidden">You forgot to add your venmo</span>
                                  div(class="form")
                                      span(class="help-block")
                                  div(class="checkbox")
                                      label
                                          <input type="checkbox" name="remember" id="remember"> Remember login
                                      p(class="help-block") (if this is a private device)
                                  button(type="button" class="btn btn-success" onclick='register()') Register

    div(class="container")
        <!-- Modal TODO someone has to clean up this clusterfuck of a modal-->
        div(id="login-modal" class="modal fade" aria-hidden='true')
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal") <span aria-hidden="true"></span>x<span class="sr-only"></span>
                    h2(class="modal-title" id="myModalLabel") Login to order!
                div(id="modal-login" class="modal-body")
                    div(class="row")
                        div(class="well")
                            #js-error-message.error-message
                            form(id="loginForm")
                                div(class="form")
                                    label(for="email" class="control-label") Email
                                    input(type="text" class="form-control" id="email" name="email" value="" required="" title="Please enter you email" placeholder="cs50IsTakingOver@gmail.com")
                                    span(class="help-block")
                                div(class="form")
                                    label(for="password" class="control-label") Password
                                    input(type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password")
                                    span(class="help-block")
                                div(class="form-group")
                                    span(class="help-block")
                                div(id="loginErrorMsg" class="alert alert-error hide") Wrong username or password
                                div(class="checkbox")
                                    label
                                        <input type="checkbox" name="remember" id="remember"> Remember login
                                    p(class="help-block") (if this is a private device)
                                button(id="modal-form-submit" class="btn btn-success" type="button" onclick='login("button")') Login
    div(class="container")
            <!-- Modal TODO someone has to clean up this clusterfuck of a modal-->
            div(id="cart-modal" class="modal fade" aria-hidden='true')
                div(class="modal-content")
                    div(class="modal-header" id = 'cart-modal-header')
                        button(type="button" class="close" data-dismiss="modal") <span aria-hidden="true"></span>x<span class="sr-only"></span>
                        h4(class="modal-title" id="myModalLabel") Review Your Order
                    div(class="modal-body")
                        div(class="row")
                            button(type="submit" class="btn btn-success btn-block" id = 'buy' onclick = 'buy()') Place Order

    div(class="container")
            <!-- Modal TODO someone has to clean up this clusterfuck of a modal-->
            div(id="purchased-modal" class="modal fade" aria-hidden='true')
                div(class="modal-content")
                    div(class="modal-header" id = 'purchased-modal-header')
                        button(type="button" class="close" data-dismiss="modal") <span aria-hidden="true"></span>x<span class="sr-only"></span>
                        h1(class="modal-title" id="myModalLabel") Thanks for your order!
                        h4 Make sure to pick your food up at the Science Center Plaza :)

    div(class="container")
        <!-- Modal TODO someone has to clean up this clusterfuck of a modal-->
        div(id="history-modal" class="modal fade" aria-hidden='true')
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal") <span aria-hidden="true"></span>x<span class="sr-only"></span>
                    h4(class="modal-title" id="myModalLabel") Your Order History
                div(class="modal-body")
                    div(id="history-list" class="row")
                        p No Order History Found

    div(class="container")
        <!-- Modal TODO someone has to clean up this clusterfuck of a modal-->
        div(id="editUser-modal" class="modal fade" aria-hidden='true')
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal") <span aria-hidden="true"></span>x<span class="sr-only"></span>
                    h4(class="modal-title" id="myModalLabel") EDIT USER
                div(class="modal-body")
                    div(id="test" class="row")
                        p Editing user is not available yet

    <!-- jumbotron-->
    div(class= 'jumbotron')
        div(class= 'container text-center')
            h1 Welcome to TruckIt!

    div(class="container demo")
        div(class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
          if(!window)
            each truck in trucks
                div(class="panel panel-default")
                    div(class="panel-heading" role="tab" id="panel"+ truck._id)
                        h4(class="panel-title")
                            a(class="orange" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"+truck._id aria-expanded="true" aria-controls="collapseOne")
                                i(class="more-less glyphicon glyphicon-plus")
                                Collapsible #{truck.companyName}
                    div(id="collapseOne"+truck._id class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
                        div(class="panel-body")
                          ul.list-group
                            -var c = 0
                            each item in truck.menu
                              -var string = truck._id.toString()+'menuItem'
                              -c++
                              li.list-group-item.justify-content-between(class= string id = c)
                                | #{item.name}
                                | $#{item.price}
                                .input-group.user-view
                                    span(class='input-group-btn')
                                        button.btn.btn-danger.btn-number(qid=item._id, type='button', data-type='minus', data-field='quant[2]')
                                            span.glyphicon.glyphicon-minus
                                    -var s = truck._id + item.name
                                    input.form-control.input-number(id=s, bid=item._id type='text', name='quant[2]', value='0', min='0', max='100' width = "24")
                                    span.input-group-btn
                                        button.btn.btn-success.btn-number(qid=item._id, type='button', data-type='plus', data-field='quant[2]')
                                            span.glyphicon.glyphicon-plus
                                label.toggler(class="checkbox-inline hidden admin-view")
                                    input(type="checkbox" data-toggle="toggle")
                          button.button.btn(class='col-md-3 .col-md-offset-3' id=truck._id type='button' onclick='createCart()' data-toggle="modal") Order




block postscript
    script if (localStorage.token) loginInit(JSON.parse(atob(localStorage.token.split('.')[1])));
    script submitOnEnterKey(login, document.getElementById('loginForm'));
    script submitOnEnterKey(register, document.getElementById('registerForm'));
